{% extends "index.html" %}
{% load crispy_forms_filters %}
{% load crispy_forms_tags %}
{% block title %}Login{%  endblock %}
{% block content %}
    <div class="container">
        <h2>Login</h2>
        <form method="post" action=""> <!-- Add your form action URL here -->
            {% csrf_token %} <!-- If using Django templates -->
            {{form | crispy }} <!-- If using Django templates -->
            <button type="submit" class="btn btn-primary"><b>LOGIN</b></button>
        </form>
    </div>
{% endblock %}
